@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="position:absolute" src="~/Content/images/Sale-Free-PNG-Image.png" />
    <h2><b>Online Buying</b> </h2>
    <p class="lead"> <h3><b>Buy</b></h3> Everything and anything</p>
    <p class="lead"> <h3><b>Sale</b></h3> Everything and anything</p>
    </div>

<div class="row">
    <div class="col-md-4">

        <img src="~/Content/images/admin-login.png" />
    </div>
    <div class="col-md-4">
        <h2><b>New User?</b></h2>
        <p><h2>Please Register</h2></p>
        <p class="btn btn-default">@Html.ActionLink("Register", "Register", "Account")</p>
    </div>
    <div class="col-md-4">

        <img src="~/Content/images/buy-sell-stocks-symbol-19244118.jpg" />
    </div>
</div>